<template name="chartEditEmbed">
{{{ angleBracket }}}!-- CHART TOOL v{{ version }}-{{ build }} -->
{{{ angleBracket }}}!-- edited: {{ lastEdited }} -->
{{{ angleBracket }}}!-- slug: {{ slug }} -->
<div class="{{ pfx }}chart" data-chartid="{{ pfx }}{{ _id }}">
  <script type="text/javascript">
    (function(root) {
      var data = {{ embedJSON }};
      root.__charttool = root.__charttool || [];
      root.__charttool.push({id: '{{ pfx }}' + data.id, data: data});
    })(this);
  </script>
</div>
</template>
